html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

main,
nav,
section {
    display: block
}

[hidden] {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

mark {
    color: #000;
    background: #ff0
}

img {
    border: 0
}

button,
input {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button,
html input[type=button],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal
}

@media print {
    * {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " ("attr(href) ")"
    }

    img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }

    .navbar {
        display: none
    }

    .label {
        border: 1px solid #000
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h4,
.h5,
h4,
h5 {
    margin-top: 10px;
    margin-bottom: 10px
}

.h1,
h1 {
    font-size: 36px
}

.h2,
h2 {
    font-size: 23px
}

.h3,
h3 {
    font-size: 24px
}

.h4,
h4 {
    font-size: 18px
}

.h5,
h5 {
    font-size: 14px
}

p {
    margin: 0 0 10px
}

.mark,
mark {
    padding: .2em;
    background-color: #fcf8e3
}

.text-center {
    text-align: center
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-md-4,
.col-md-8,
.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

@media (min-width: 992px) {

    .col-md-4,
    .col-md-8 {
        float: left
    }

    /* .col-md-8 {
        width: 66.66666667%
    } */

    .col-md-4 {
        width: 33.33333333%
    }
}

label {
    text-align: left;
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

    input[type=date],
    input[type=time] {
        line-height: 34px
    }
}

.collapse {
    display: none;
    visibility: hidden
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee
}

.nav>li>a>img {
    max-width: none
}

.navbar {
    position: relative;
    min-height: 90px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px
    }
}

@media (min-width: 768px) {
    .navbar-header {
        float: left
    }
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        visibility: visible !important
    }
}

.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width: 768px) {

    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 0
    }
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}

.navbar-brand>img {
    display: block
}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand {
        margin-left: -15px
    }
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 50px
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav>li {
        float: left
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.navbar-default .navbar-brand {
    color: #777
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #5e5e5e;
    background-color: transparent
}

.navbar-default .navbar-nav>li>a {
    color: #777
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: transparent
}

.navbar-default .navbar-collapse {
    border-color: #e7e7e7
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

a.label:focus,
a.label:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.label:empty {
    display: none
}

.media {
    margin-top: 15px
}

.media:first-child {
    margin-top: 0
}

.media>.pull-right {
    padding-left: 10px
}
.media-left {
    width: 70px;
}
.media-left,
.media>.pull-left {
    padding-right: 10px
}

.media-body,
.media-left {
    display: table-cell;
    vertical-align: top
}

/* .media-body {
    width: 90%;
} */

.media-heading {
    margin-top: 0;
    margin-bottom: 5px
}

.container:after,
.container:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.row:after,
.row:before {
    display: table;
    content: " "
}

.container:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.row:after {
    clear: both
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hidden {
    display: none !important;
    visibility: hidden !important
}

@-ms-viewport {
    width: device-width
}

.navbar-default {
    background-image: -webkit-linear-gradient(top, #fff 0, #f8f8f8 100%);
    background-image: -o-linear-gradient(top, #fff 0, #f8f8f8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
    background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
    background-repeat: repeat-x;
    border-radius: 4px
}

.navbar-brand,
.navbar-nav>li>a {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25)
}

h1 {
    font-family: 'Open Sans', sans-serif, arial !important;
    font-weight: 900 !important;
    font-size: 2.8em;
    line-height: 1.15em;
    letter-spacing: -1px !important;
    text-rendering: optimizeLegibility !important;
    margin: 15px 0 10px 0 !important
}

h3 {
    font-family: 'Open Sans', sans-serif, arial !important;
    font-weight: 900 !important;
    font-size: 26px !important;
    line-height: 1.15em !important;
    text-rendering: optimizeLegibility !important
}

.content h5 {
    font-family: Montserrat, 'Open Sans', sans-serif, arial !important;
    text-rendering: optimizeLegibility !important;
    font-size: 18px !important
}

.price_main {
    border-bottom: 2px solid #d31812;
    font-size: 25px;
    line-height: 0
}

.js_old_price {
    margin: 0 40px
}

.Wheel_input {
    padding: 10px !important;
    display: block;
    margin: 0 auto;
    padding: 10px !important;
    width: 100% !important;
    border: 2px solid grey !important;
    border-radius: 5px !important
}

.Wheel_input {
    margin-bottom: 10px
}

.order_form {
    display: block !important;
    text-align: center !important;
    max-width: 350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.main-link {
    display: block;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: #de0606;
    text-align: center;
    color: #fff !important;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 100%
}

.main-link:hover {
    opacity: .8
}

.spin-wrapper {
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    border: 3px solid red;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box
}

.wheel {
    width: 380px !important;
    margin: 0 auto;
    position: relative
}

.wheel-cursor {
    position: absolute;
    width: 35% !important;
    height: 35%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.cursor-text {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 45% !important;
    height: 45%;
    line-height: 61px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    top: 49%;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: #fff 0 -2px 0 inset, #fff 0 2px 0 inset, rgba(0, 0, 0, .4) 0 0 5px;
    box-shadow: #fff 0 -2px 0 inset, #fff 0 2px 0 inset, rgba(0, 0, 0, .4) 0 0 5px;
    background: #fff;
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0, #fff), color-stop(100%, #eaeaea));
    background: -webkit-radial-gradient(center, ellipse cover, #fff 0, #eaeaea 100%);
    background: -o-radial-gradient(center, ellipse cover, #fff 0, #eaeaea 100%);
    background: -webkit-radial-gradient(center, ellipse, #fff 0, #eaeaea 100%);
    background: -o-radial-gradient(center, ellipse, #fff 0, #eaeaea 100%);
    background: radial-gradient(ellipse at center, #fff 0, #eaeaea 100%)
}

.wheel-img {
    -webkit-transition: 4s;
    -o-transition: 4s;
    transition: 4s
}

.close-popup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../images/cross.svg);
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -40px;
    cursor: pointer
}

.cursor-text:active {
    -webkit-box-shadow: rgba(0, 0, 0, .4) 0 0 5px inset;
    box-shadow: rgba(0, 0, 0, .4) 0 0 5px inset
}

.spin-result-wrapper {
    display: none;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    text-align: center
}

.pop-up-layer {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, .7) !important;
    z-index: 99 !important
}

.pop-up-window {
    position: relative;
    max-width: 400px;
    right: 0;
    left: 0;
    top: 40%;
    margin: 0 auto;
    background: #fff none repeat scroll 0 0;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 10px;
    animation: .7s ease 0s normal none 1 running;
    animation-name: pop-up-appear
}

.pop-up-window::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: -55px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #71c341;
    border-radius: 50%;
    animation: .5s ease .6s normal backwards 1 running;
    animation-name: pop-up-appear-before
}

.pop-up-window::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor #fff #fff;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    transform: rotate(-45deg);
    transition: opacity 1s ease 0s;
    animation: .5s ease .6s normal backwards 1 running;
    animation-name: pop-up-appear-after
}

@keyframes pop-up-appear {
    0% {
        transform: translateY(-2000px)
    }

    30% {
        transform: translateY(100px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes pop-up-appear-before {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes pop-up-appear-after {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.pop-up-heading {
    font-size: 40px;
    margin-bottom: 20px
}

.pop-up-text {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    text-align: center
}

.pop-up-button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20%;
    font-size: 20px;
    border-radius: 5px;
    background-color: #71c341;
    color: #fff;
    border: medium none;
    cursor: pointer;
    outline: medium none
}

.pop-up-button:hover {
    color: #fff;
    text-decoration: none
}

.wheel img {
    max-width: 100%
}

@media all and (max-width: 520px) {
    .wheel {
        width: 160px !important
    }

    .cursor-text {
        line-height: 25px;
        font-size: 8px
    }

    .close-popup {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url(../images/cross.svg);
        background-size: 100%;
        top: -40px;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
        right: 0;
        cursor: pointer
    }
}

@media all and (max-width: 360px) {
    .wheel {
        width: 130px !important
    }

    .cursor-text {
        line-height: 20px;
        font-size: 7px
    }
}

@media all and (max-width: 250px) {
    .wheel {
        width: 90px !important
    }

    .cursor-text {
        line-height: 16px;
        font-size: 6px
    }
}

.super-rotation {
    -webkit-animation-name: super-rotation;
    animation-name: super-rotation;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

@keyframes super-rotation {
    70% {
        -webkit-transform: rotate(1783deg);
        transform: rotate(1783deg)
    }

    100% {
        -webkit-transform: rotate(1774deg);
        transform: rotate(1774deg)
    }
}

.time_remains {
    font-size: 1.1em;
    color: red;
    font-weight: 700
}

.time_remains_title {
    padding-top: 15px;
    text-align: center;
    font-size: 22px
}

body {
    overflow-x: hidden;
    margin-top: 0
}

a {
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

a:focus,
a:hover {
    outline: 0;
    text-decoration: none
}

.m-t-25 {
    margin-top: 25px !important
}

.m-b-30 {
    margin-bottom: 30px !important
}

.m-b-5 {
    margin-bottom: 5px !important
}

.navbar {
    margin-bottom: 0
}

.navbar-default {
    background-image: none;
    border-radius: 0;
    border: none;
    background: #fff
}

.navbar-brand {
    padding: 2px 10px
}

.navbar-brand img {
    width: 100%;
    max-width: 300px
}

.navbar-nav {
    float: left
}

.navbar-nav>li {
    text-align: center
}

.navbar-default .navbar-nav>li>a {
    font-family: Arial;
    text-shadow: none;
    color: #333;
    font-size: 13px;
    font-weight: 700
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    text-shadow: 0 2px 2px #777;
    color: #fff
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        display: block;
        width: auto;
        float: none
    }

    .navbar-nav>li {
        display: block
    }

    .navbar-brand img {
        position: relative;
        margin: 8px auto
    }

    .navbar-header {
        text-align: center
    }

    .navbar-brand {
        padding: 0 0;
        margin: 0 auto;
        display: block;
        float: left;
        width: 100%;
        position: absolute
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 16px;
        padding: 15px 8px
    }
}

.content-box {
    background: #fff
}

.content h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    margin: 30px 0 16px 0;
    color: #222;
    font-size: 41px;
    line-height: 44px
}

.content .img-responsive {
    margin: 0 auto 5px auto
}

.content p {
    font-family: Arial;
    margin: 0 0 20px 0;
    line-height: 1.3;
    font-size: 18px;
    color: #222
}

@media (min-width: 1024px) {
    .content p {
        text-align: justify
    }
}

.content p.pink-text {
    color: #0198bd
}

.content p.update {
    border: 1px dotted #000;
    background: #effff7;
    padding: 4px 9px
}

.content p.update .red-text {
    color: red
}

.content h5 {
    font-family: 'Open Sans';
    color: #222;
    margin: 8px 0 20px 0;
    font-size: 21px;
    line-height: 28px
}

.content h5.pink-border-bottom {
    color: #666;
    border-bottom: 2px solid #0198bd;
    margin-bottom: 15px
}

.content h4 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: #222;
    margin: 0 0 20px 0
}

.content p a {
    color: #0198bd
}

.content p a:focus,
.content p a:hover {
    color: #0198bd
}

.content h3 {
    font-family: 'Open Sans';
    font-weight: 700;
    color: #222;
    margin: 26px 0;
    font-size: 26px
}

.content .top-bottom-border {
    width: 100%;
    height: 13px;
    background: 0 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 30px 0
}

.content .revival-box2 {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ccc;
    background: #f5f9fa;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px
}

@media only screen and (max-width: 767px) {
    .content h1 {
        font-size: 30px
    }
}

.comments {
    background: #fff;
    padding-bottom: 25px
}

.recent {
    margin-left: 0;
    margin-right: 0;
    padding-top: 15px;
    padding-bottom: 20px
}

.recent a,
.recent p {
    font-family: Tahoma;
    font-size: 14px;
    margin: 0;
    line-height: 18px;
    color: #3b5998
}

.recent p {
    font-weight: 700
}

.media {
    margin: 0;
    padding: 8px 0;
    border-top: 1px solid #e2e2e2
}

.media.border-bottom {
    border-bottom: 1px solid #e2e2e2
}

.media-left img {
    margin-top: 6px
}

.media-body h4 {
    font-family: Tahoma;
    color: #3b5998;
    margin: 0 0 5px 0;
    line-height: 14px;
    font-weight: 700
}

.media-body h4 a {
    font-family: Tahoma;
    color: #3b5998;
    margin: 0 0 5px 0;
    line-height: 14px;
    font-weight: 700
}

.media-body h4 a:focus,
.media-body h4 a:hover {
    color: #3b5998
}

.media-body p {
    font-family: Tahoma;
    color: #1a1a1a;
    line-height: 1.3 !important;
    margin: 0 0 5px 0
}

a.offer:link,
a.offer:visited {
    color: #00e;
    text-decoration: underline
}

a.offer:active,
a.offer:hover {
    text-decoration: none
}

.bottomFix {
    z-index: 50000;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background-color: #c50101;
    width: 100%;
    padding: 12px;
    position: fixed;
    left: 0;
    bottom: 0
}

.innerBot {
    display: inline-block
}

.innerBot .freebot {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700
}

.innerBot a {
    display: inline-block;
    vertical-align: middle;
    background-color: #0ccb41;
    border: 1px solid #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1px;
    font-size: 16px;
    width: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff !important
}

.innerBot a:hover {
    color: #fff !important;
    border: 1px solid #fff
}

.prod_img_wrapper {
    max-width: 180px;
    margin: 15px 30px;
    position: relative
}

.prod_img {
    width: 100%;
    max-width: 400px
}

.price_main {
    border-bottom: 2px solid #d31812;
    font-size: 24px;
    line-height: 5px
}

.js_old_price {
    display: block;
    margin: 0 auto
}

.media-object {
    width: 70px !important;
    height: 70px !important
}

.media-body p {
    font-family: arial, verdana, tahoma, sans-serif !important;
    font-size: 16px !important
}

.media-body h4 {
    font-family: arial, verdana, tahoma, sans-serif !important;
    font-size: 16px !important
}

body {
    margin: 0;
    padding: 0
}

.red {
    color: red !important
}

.big-letter {
    float: left;
    color: #000;
    font-size: 68px;
    line-height: 35px;
    padding-top: 3px;
    padding-right: 3px;
    font-family: Times, serif, Georgia
}

.col-title {
    color: red !important;
    font-size: 24px !important;
    font-weight: 700
}

.custom-list {
    font-family: Arial;
    margin: 0 0 20px 0;
    line-height: 20px;
    font-size: 16px;
    color: #222
}

.bg-y-text {
    background-color: #ff0;
    font-size: 18px;
    display: inline-block;
    padding: 10px
}

.uppercase {
    text-transform: uppercase
}

.bg-white {
    background: #fff
}

.order_block {
    display: none;
    background: #fff
}

.tcenter {
    text-align: center !important
}

.navbar {
    border-bottom: 1px solid grey;
    padding-bottom: 10px
}

.product {
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content .product {
    margin-bottom: 0;
}

.sidebar p {
    font-size: 16px;
    line-height: 20px;
    text-align: left
}

.wheel-wrarpper {
    margin-top: 25px
}

@media (max-width: 767px) {
    .media-left img {
        margin-top: 0
    }

    .custom-list {
        font-size: 17px
    }

    .time_remains_title {
        margin: 0
    }

    .prod_img {
        max-width: 150px;
    }

    .navbar-brand {
        height: auto
    }

    .navbar-brand img {
        width: auto
    }

    .content h1 {
        font-size: 32px;
        line-height: 1.3
    }

    .content h5.pink-border-bottom {
        margin-bottom: 25px
    }

    .content h3,
    .content p {
        font-size: 17px !important
    }

    .product {
        max-width: 150px
    }

    .content .img-responsive {
        margin-bottom: 25px
    }

    .h2,
    h2 {
        margin-bottom: 25px
    }

    .pl0 {
        padding-left: 0 !important
    }
}

@media (max-width: 479px) {
    .content h1 {
        font-size: 26px
    }

    .h2,
    h2 {
        font-size: 23px
    }
}

.form-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

.inL_685746 {
    color: #e43221
}

.inL_820551 {
    text-align: center
}

.inL_157894 {
    padding-top: 15px;
    text-align: center;
    margin: -50px 0;
    font-size: 18px;
    text-transform: uppercase
}

.inL_377606 {
    color: #000
}

.inL_687329 {
    color: #000
}

.inL_673075 {
    font-size: 22px
}

.inL_210901 {
    background: #ccc;
    font-size: 12px;
    margin: 15px 0;
    padding: 15px;
    text-align: center;
    margin-bottom: 45px
}

@media (max-width: 507px) {
    .inL_210901 {
        margin-bottom: 72px
    }
}

@media (max-width: 353px) {
    .inL_210901 {
        margin-bottom: 94px
    }
}